# After clone, copy this file as terraform.tfvars add modify variables with your values
region                     = "eu-west-1" # Europe (Ireland)
availability_zone          = "eu-west-1a"
cidr_block_all_traffic     = "0.0.0.0/0"
vpc_cidr_block             = "10.0.0.0/16"
subnet_cidr_block_public   = "10.0.1.0/24"
subnet_cidr_block_private  = "10.0.2.0/24"
subnet_cidr_block_firewall = "10.0.3.0/24"
tcp_protocol               = "tcp"
ssh_protocol               = "ssh"
all_protocols              = "-1"
allowed_ip_address         = "0.0.0.0/0" #Change for your own IP 
ami_amazon_linux           = "ami-074254c177d57d640"
ami_ubuntu                 = "ami-0c1c30571d2dae5c9"
instance_type              = "t2.micro"  #Free Tier
ssh_key_name               = "lab_key_pair"
ssh_key_full_name          = "~/.ssh/lab_key_pair.pem"
tcp_protocol               = "tcp"
